<ion-content>
  <ion-list>

    <ion-item>
      <ion-label >weight</ion-label>
      <ion-select [(ngModel)]="weightInput" >
        
        <ion-option *ngFor="let weight of Weight" [value]="weight">{{weight}}</ion-option>
        
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Exercises</ion-label>
      <ion-select [(ngModel)]="exerciseInput" >
        <ion-option value="sitting-1.0">sitting</ion-option>

        <ion-option value="bicycling-4.0">bicycling 16 km/h</ion-option>
        <ion-option value="bicycling-6.0">bicycling 18 km/h</ion-option>
        <ion-option value="bicycling-8.0">bicycling 21 km/h</ion-option>
        <ion-option value="bicycling-10.0">bicycling 24 km/h</ion-option>
        <ion-option value="bicycling-12.0">bicycling 27 km/h</ion-option>
        <ion-option value="bicycling-16.0">bicycling 30 km/h</ion-option>

        <ion-option value="cycling-3.0">cycling 50 watt</ion-option>
        <ion-option value="cycling-5.5">cycling 100 watt</ion-option>
        <ion-option value="cycling-7.0">cycling 150 watt</ion-option>
        <ion-option value="cycling-10.5">cycling 200 watt</ion-option>
        <ion-option value="cycling-12.5">cycling 250 watt</ion-option>

        <ion-option value="swimming-9.0">swimming</ion-option>

        <ion-option value="walking-2.5">walking 3 km/h</ion-option>
        <ion-option value="walking-3.0">walking 4 km/h</ion-option>
        <ion-option value="walking-3.5">walking 5 km/h</ion-option>
        <ion-option value="walking-4.0">walking 6 km/h</ion-option>
        <ion-option value="walking-4.5">walking 7 km/h</ion-option>
        
        <ion-option value="running-4.5">running 8 km/h</ion-option>
        <ion-option value="running-10.0">running 10 km/h</ion-option>
        <ion-option value="running-11.0">running 11 km/h</ion-option>
        <ion-option value="running-12.5">running 12 km/h</ion-option>
        <ion-option value="running-13.5">running 13 km/h</ion-option>
        <ion-option value="running-14.0">running 14 km/h</ion-option>
        <ion-option value="running-16.0">running 16 km/h</ion-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label >Exercised time</ion-label>
      <ion-select [(ngModel)]="hoursInput" [selectOptions]="hoursSelectOpt">
        
        <ion-option *ngFor="let hours of Hours" [value]="hours" >{{hours}}</ion-option>
        
      </ion-select>

      <ion-select [(ngModel)]="minutesInput" [selectOptions]="minutesSelectOpt">

          <ion-option *ngFor="let minutes of Minutes" [value]="minutes">{{minutes}}</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>

  <p>
    <button ion-button (click)="AddExercise()">add exercise</button>
  </p>

</ion-content>


